[submodule "lib/mingl"]
	path = lib/mingl
	url = https://github.com/Hayden-Allen/mingl.git
[submodule "lib/hats"]
	path = lib/hats
	url = https://github.com/Hayden-Allen/hats.git
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/hapi"]
	path = lib/hapi
	url = https://github.com/Hayden-Allen/hapi.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/nanovg"]
	path = lib/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "lib/libunistd"]
	path = lib/libunistd
	url = https://github.com/robinrowe/libunistd.git
[submodule "lib/quickjspp"]
	path = lib/quickjspp
	url = https://github.com/Hayden-Allen/quickjspp.git
[submodule "lib/haul"]
	path = lib/haul
	url = https://github.com/Hayden-Allen/haul.git
